<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Duas formas de fazer um link da página Home para a página About:-->

<!-- Forma HTML: -->

<a href="/about">About me formato html</a> <br>
<!-- Este formato não é aconselhável.-->



 <!-- Forma Ruby on Rails -->

<%= link_to "About formato Ruby", about_path %>

<!-- Este formato é aconselhável.-->
